.container{
   text-align: center;
   
}
h1{
    margin-bottom: 50px;
}

.form{
    line-height: 50px;
    text-align: center;
}
.login{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 13px;
    width: 510px;
    background-color: gray;

}

.formlink{
    display: block;
    font-size:15px;
}
.containerhelp{
    font-size: 15px;
}