@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

.multiForm {
  height: 610px;
  /* border: 1px solid red; */
}

.background {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: lightblue;
  margin: 50px auto;
  /* border: 1px solid red; */
  border-radius: 10px;
  padding: 20px;
}

.text {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0 20px 10px;
  /* font-family: "Yusei Magic", sans-serif; */
}

.radioBox {
  background-color: rgb(233, 135, 118);
  border-radius: 10px;
  padding: 10px;
}
.newEventForm {
  margin: 0 20px;
  /* border: 1px solid red; */
  width: 550px;
}

button {
  color: black;
  background-color: orange;
  height: 40px;
  width: 130px;

  font-size: 18px;
  text-align: center;

  border: none;
  cursor: pointer;

  margin: 0 5px;
  border-radius: 5px;
}

.description {
  height: 420px;
  width: 550px;
  border-radius: 5px;
}

input {
  border-radius: 5px;
  /* border: none; */
}

.catBox {
  float: left;
  width: 90%;
}

.catDropDown {
  width: 100%;
  font-size: 20px;
}

.radio {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  /* float: left; */
  /* margin: 0; */
  padding: 0 10px;
  /* outline: 1px solid red; */
}

.finalStep {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 600px;
  background-color: lightblue;
  margin: 50px auto;
  /* border: 1px solid red; */
  border-radius: 10px;
  padding: 20px;
}

.finalShow2 {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  /* outline: 1px solid red; */
  width: 100%;
}

.finalShow1 {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  /* outline: 1px solid red; */
}
