
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.multiForm{
    height: 600px;
}

.background{
   /* position: absolute;
   left: 600px;
   top:200px; */
   display: flex;
   align-items: center;
   justify-content: center;
    width:600px;
    height: 600px;
    background-color: rgb(248, 152, 26);
    margin-top: 50px;
    
    
}

.text{
    font-size: 25px;

    font-family: 'Yusei Magic', sans-serif;
}


.button{

    /* position: absolute;
    top:400px;
    left:200px; */
    color:black
}


.finalStep{

   /* position: absolute;
   left: 600px;
   top:200px; */
    width:600px;
    height: 600px;
    background-color: rgb(67, 85, 134);
    color:white;
    margin-top: 50px;


}