.main {
  /* border: 1px solid red; */
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.upcoming_envents_head,
.envents_by_city_head,
.envents_by_Category_head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid green; */
  margin: 20px 10px 0;
  padding: 0;
}

.upcoming_envents_head h3,
p,
.envents_by_city_head h3,
p,
.envents_by_Category_head h3,
p {
  margin: 20px 0 0;
}

.upcoming_envents_body,
.envents_by_citys_body,
.envents_by_Category_body {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  /* border: 1px solid blue; */
}

.events_container {
  border: 1px solid rgb(163, 216, 248);
  border-radius: 10px;
  height: 300px;
  width: 344px;
  margin:5px 10px;
}

.events_container p {
  text-align: left;
  margin: 0;
  padding: 0;
}

.events_bg {
  border-radius: 10px;

  height: 250px;
  width: 344px;
}
