.main {
  border: 1px solid red;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.upcoming_envents_head,
.envents_by_city_head,
.envents_by_Category_head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  border: 1px solid green;
}

.upcoming_envents_body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
}

.events_container {
  border: 1px solid rosybrown;
  margin: 10px;
  height: 300px;
  width: 300px;
}
