.profileheader{
    margin-bottom: 10px;
    text-align: center;
}

.profileform{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.submitregister{
    background-color: gray;
    margin-left: 60px;

}

.formgroupgender[type=radio]{
    cursor: pointer;
    -ms-transform: scale(.6); /* IE 9 */
    -webkit-transform: scale(.6); /* Chrome, Safari, Opera */
    transform: scale(.8);
    background-color: red;
    
 

}
.formgroupgender{
    font-size: 15px;
    margin-left: 550px;
    display: flex;
    align-items: center;

}

.formemail{

    margin-left: -35px;
}

.formdate{

    margin-left: 33px;

}
.formplace{
    margin-left: 25px;

}
.formhometown{
    margin-left: -10px;
}
.formlang{
    margin-left: -8px;

}
.forminterest{
    margin-left: -35px;

}

.formothers{
    margin-left: 11px;
}

.photo{
    
    border: 1px dashed black;
    margin-bottom: 10px;
    width: 130px;


}

.photoInput {
    width: 95px;
    margin-left: 20px;


}

.containersetting{
    
    margin-top: 20px;
    
    margin-left: 20px;
    flex-direction: row;
}

.deletecontainer{
    margin-top: 10px;
    margin-left: 30px;
   
    
}
.deletecontainer1{
    
    background-color: red;
    
}