.containersetting{
    
    margin-top: 20px;
    
    margin-left: 20px;
    flex-direction: row;
}

.deletecontainer{
    margin-top: 10px;
   
    
}
.deletecontainer1{
    
    background-color: red;
    
}