.footer {

  background-color: rgb(75, 71, 71);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  
}

.footer p {
  padding: 0;
  margin: 5px;
  color: white;
  
  
}

/* .containerheader {
  text-align: center;
  border-radius: 200px;

  position: relative;

  color: white;
  margin-bottom: 40px;

  height: 410px;
  
} */
.headerparag {
  line-height: 50px;
  font-size: 20px;
  color: black;
  text-align: center;

  margin-left: 150px;
  margin-right: 150px;
  position: absolute;
}
.headerhr {
  margin: 0;
  padding: 0;
  text-align: center;
}
.header {
  margin-top: 0px;
  padding-top: 40px;
  color: orange;
  font-weight: bolder;
}

.containerfooter {
  /* background: url(../../Images/abstract.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  
  width: 100%;
  color: black;
  
  display: flex;
  align-items: center;

  height: 120px;
  
}
.subcontainer {
  list-style-type: none;
  flex-grow: 1;
  margin-left: 200px;
  
  margin-top: 7px;
  color: white;

  
}
.subcontainer1 {
  list-style-type: none;
  flex-grow: 1;
  margin-left: 200px;
 
 

}
.subcontainer1 li {
  list-style-type: none;
  /* padding-bottom: 5px; */
  padding-right: 30px;

  display: inline;
}
.subcontainer li {
  padding-bottom: -3px;
}
.follow {
  padding-bottom: 10px;
  font-weight: bold;
}
.contactus {
  font-weight: bolder;
}
.indent {
  color: orange;
  font-weight: bolder;
}

.icon-github {
  color: black;
}
