.search {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: rgb(198, 223, 238);
  font-size: 25px;
  height: 120px;
  border-radius: 10px;
  margin: 10px;
}

p {
  text-align: center;
  margin: 0;
  padding: 5px;
}

.search_form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

input {
  border-radius: 7px;
}

.btn {
  height: 40px;
  background-color: rgb(35, 117, 184);
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 0px 25x;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.btn:hover {
  color: #fff;
}
