.search {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: rgb(198, 223, 238);
  font-size: 25px;
  height: 120px;
  border-radius: 10px;
  margin: 10px;
}

p {
  text-align: center;
  margin: 0;
  padding: 5px;
}

.search_form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

input {
  border-radius: 5px;
}

.btn {
  height: 40px;
  background-color: rgb(35, 117, 184);
  color: black;
  font-size: 18px;
  text-align: center;
  padding: 0px 25px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.btn:hover {
  color: #fff;
}

.search_results {
  
  display: flex;
  justify-content: left;
  flex-direction: unset;
  align-items: center;
  /* overflow: scroll; */
}

.events_container {
  border: 1px solid rgb(163, 216, 248);
  border-radius: 10px;
  height: 300px;
  width: 344px;
  margin:5px 10px;
}

.events_container p {
  text-align: left;
  margin: 0;
  padding: 0;
}

.events_bg {
  border-radius: 10px;

  height: 250px;
  width: 344px;
}
